.educationLiA {
    display: block;
    color: white;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Comic Sans MS", sans-serif;
}

.educationLiA:hover {
    color: black;
}

.educationActivity {
    color: black;
    display: block;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Comic Sans MS", sans-serif;
}

.educationAText{
    font-family: "Comic Sans MS", sans-serif;
    color: white;
    font-size: 20mm;
    text-align: center;
    display: block;
    margin: 345px ;
    text-decoration: none;
}